
.bg-success {
    padding: 5px;
    margin: 10px;
    font-size: 1.2rem;
}

.bg-success:hover {
    color: white
}

.bg-secondary {
    padding: 5px;
    text-decoration-line: none;
    margin-left: 7px
}