.cart-wrapper {
    position: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80%;
    width: 100%
}

.form-container {
    position:fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.cart {
    padding: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.cart-header {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.carrito-vacio {
    margin: 10px
}

.button-wrapper {
    text-align: center;
}

.cart-products {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.card {
    position: static;
    color: white;
    font-weight: bold;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-body{
    text-align: center;
    margin: 10px;
    padding:0;
}

.card-title {
    background-color: rgba(0, 0, 0, 0.5);
}

.btn-primary, .btn-success {
    width:100px;
    font-size:small;
    border-radius: 0%;
}

h5, h6 {
    color: white;
}
