.contact-wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: max-content;
    height:100%;
    width:100%;
    position:fixed
}

.contact {
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: space-evenly;
    margin: 100px;
    padding: 50px;
    display: flex;
}

.image-wrapper > img {
    height: 200px;
    border-radius: 50%;
}

.info {
    height: 100px;
    margin-bottom: 25px;
    margin-left: 20px;
    color: white;
}

.icons {
    margin-top: 20px;
    width: 200px;
    justify-content: space-evenly;
    display:flex
}