.item-counter-container {
    width: 100px;
    text-align: center;
    padding: 5px;
}

.count-total {
    font-size: 2rem;
    color: rgb(78, 78, 78);
}

.counter-buttons {
    display: flex
}

.add-cart {
    display: flex
}

.btn-secondary {
    border-radius: 0%;
    margin: 1px;
    margin: 1px;
    font-size: 0.8rem;
    flex:1
}

