.item {
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(166, 255, 166);
    height: 150px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.item-info {
    text-decoration: none;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    flex:1
}

.item-background {
    height: 125px;
    flex:1
}

.item-text-wrapper {
    color: rgb(78, 78, 78);
    align-items: center;
    text-align: center;
    flex:1
}

