.item-counter-container, .item-button-container {
    width: 120px;
    height: 100%px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
}

.count-total {
    font-size: 2rem;
    color: white;
}

.counter-buttons {
    display: flex
}

.add-cart {
    display: flex
}

.btn-secondary, .btn-primary {
    border-radius: 0;
    margin: 1px;
    margin: 1px;
    font-size: 0.8rem;
    flex:1
}

h6 {
    align-items: center;
}

