.item-list {
    background-color: transparent;
}

.alert {
    text-align: center;
    font-size: xx-large;
}

.oferta {
    display:flex;
    justify-content: center;
    align-items: center;
}

.item-list {
    padding: 40px;
    flex-wrap: wrap;
}

.col-sm-6, .col-md-4 {
    padding:0
}

h1 {
    margin-right: 25px;
}

h3 {
    color: white
}
