.navbar-container {
    background-color: rgb(86, 202, 92);
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    font-size: large;
  }
  
.navbar-brand-container {
    flex:1
}

.navbar-logo {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.logo {
    width:150px
}

.navbar-menu-container {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
  
.dropdown-toggle, .navbar-menu-container > div > a {
    color: white;
    text-decoration: none;
}
  
.dropdown-toggle:hover {
  color: white
}

.navbar-brand-logo {
    font-size: 2rem;
}
  
.navbar-brand-name {
    font-size: x-large;
}
  
  